.formCard{
    margin-top: 2rem auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 12px;
    background-color: #f7f7f7;
}

.formCard div{
    margin-bottom: 1.2rem ;
}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 500; 
}

input[type="text"],
input[type="radio"]
input[type="email"]
input[type="checkbox"]{
    margin-right: 0.6rem;
}