.weather-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    margin-top: 1rem;
}

.weather-card h2{
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

.weather-card p{
    margin: 0.25rem 0;
    font-size: 1rem;
}